body {
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.028124999999999956) 0%,
      rgba(253, 187, 45, 1) 100%
    );
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  #todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
  }
  
  #todo-container {
    background: rgb(41, 33, 33);
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
  }
  
  #header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #input-box {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
  }
  
  #input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e60ea;
    &:hover {
      background-color: #9eb7fd;
    }
  }
  
  
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
  
  li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .edit-btn,
  .delete-btn {
    float: right;
    color: crimson;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
    border: 1px solid gray;
  }
  
  label {
    font-size: 2rem;
  }
  
  input {
    color: white;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 30px 50px;
    background: transparent;
    max-width: 190px;
    font-size: 1.5rem;
    &:active {
      box-shadow: 2px 2px 15px #8707ff inset;
    }
  }
  
  
  
  button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid white;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    &:disabled {
      pointer-events: none;
    }
    
    &:hover {
      color: #fff;
      background-color: #fcc95b;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    &:active {
      box-shadow: none;
      transform: translateY(0);
    }
  }
  
  
  
  .ui-btn {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
      rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    &:hover {
      box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
        rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: #d6d6e7 0 3px 7px inset;
      transform: translateY(2px);
    }
    &:focus {
      box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    }
  }
  
  
  
  a {
    text-decoration: none;
    color: white;
  }